#ignored patterns

bin/i-pi-driver
doc/manual.pdf
doc/manual.xml
*.pyc
*.pyo
*.x
*.mod
*.out
*.o
*~
\#*
*.orig
regtest-ref
examples/regtest/integrators/*-qcmd_nvt/*/*.xyz
!examples/regtest/integrators/*-qcmd_nvt/*/init.xyz
examples/regtest/integrators/*-qcmd_nvt/*/log.txt
