#ignored patterns

bin/i-pi-driver
doc/manual.pdf
doc/manual.xml
*.pyc
*.pyo
*.x
*.mod
*.out
*.o
*.swp
*~
\#*
*.orig
regtest-ref
examples/qcmd/*_nvt/**/*.xyz
!examples/qcmd/*_nvt/**/init.xyz
examples/qcmd/*_nvt/**/log.txt
examples/qcmd/*_nvt/**/script
examples/qcmd/*_nvt/**/input.xml
examples/qcmd/*_nvt/**/submit.sh
examples/lammps/h2o-*-32-mol-super_splitting/**/*pos*.xyz
examples/lammps/h2o-*-32-mol-super_splitting/**/simulation.*
examples/lammps/h2o-*-32-mol-super_splitting/**/RESTART
examples/lammps/h2o-*-32-mol-super_splitting/**/EXIT
examples/lammps/h2o-*-32-mol-super_splitting/**/log.*
examples/lammps/h2o-*-32-mol-super_splitting/**/*.sh
